* {
    color: rgba(255, 255, 255, 0.945);
    padding: 0em;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
    background-size: cover;
}